@page "/Directory/ProductRecord"
@page "/Directory/ProductRecord/{ID}"


@using AppliedTax.Codes;
@using System.Data;

<h1>Product Record</h1>

@code {
    [Parameter]
    public int ID { get; set; }
    public Parameters Model { get; set; }
    public TableClass MyTableClass => new TableClass("Product");
    public DataRow MyRow { get; set; }

    protected override void OnInitialized()
    {
        Model = new();

        if(ID==0) { ID = 1; }
        MyRow = TableClass.GetRow("Product", ID);

        Model.ID = (long)MyRow["ID"];
        Model.Code = MyRow["Title"].ToString();
        Model.Title = MyRow["Code"].ToString();
        Model.Class = MyRow["Class"].ToString();
        
        Model.Description = MyRow["Description"].ToString();
        Model.TC_ID = (long)MyRow["TC_ID"];
        Model.HSCode = MyRow["HSCode"].ToString();

    }
    private void Submit()
    {
        var a = Model.Title;
    }

    public class Parameters
    {
        public long ID { get; set; }
        public string Code { get; set; }
        public string Title { get; set; }
        public string Class { get; set; }
        public long Unit { get; set; }
        public string Description { get; set; }
        public long TC_ID { get; set; }
        public string HSCode { get; set; }

    }


}

<EditForm Model="@Model" OnSubmit="@Submit">
    <div class="row">
    <div class="col-md-2">
        <label>Code</label>
        <InputText @bind-Value="Model.Code" class="form-control" data-val="true" data-val-required="The Code field is required." id="txtCode" ></InputText>
    </div>
    <div class="col-md-2">
        <label>Title</label>
        <InputText @bind-Value="Model.Title" class="form-control" data-val="true" data-val-required="The Code field is required." id="txtTitle"></InputText>
    </div>
    <div class="col-md-2">
        <label>Class</label>
        <InputText @bind-Value="Model.Class" class="form-control" data-val="true" data-val-required="The Class field is required." id="txtClass"></InputText>
    </div>
    </div>
    <div class="row">
    <div class="col-md-2">
        <label>Unit</label>
        <InputNumber @bind-Value="Model.Unit" class="form-control" data-val="true" data-val-required="The Unit field is required." id="txtUnit"></InputNumber>
    </div>
    <div class="col-md-2">
        <label>Description</label>
        <InputText @bind-Value="Model.Description" class="form-control" data-val="true" data-val-required="The Description field is required." id="txtDescription"></InputText>

    </div>
    <div class="col-md-2">
        <label>TC_ID</label>
        <InputNumber @bind-Value="Model.TC_ID" class="form-control" data-val="true" data-val-required="The TC_ID field is required." id="txtTC_ID"></InputNumber>
    </div>
    </div>
    <div class="col-md-2">
        <label>HSCode</label>
        <InputText @bind-Value="Model.HSCode" class="form-control" data-val="true" data-val-required="The HSCode field is required." id="txtHSCode"></InputText>
    </div>
    <button type="button" class="btn btn-primary">Submit</button>.

</EditForm>