

/* table */
/*.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #005a3f;
}

    .custom-table th, .custom-table td {
        padding: 8px;
        text-align: left;
        border-bottom: dotted 1px grey;
    }

    .custom-table th {
        background-color: #176b87;
        color: white;
    }

    .custom-table td {
        background-color: #64ccc5;
    }

    .custom-table tr:hover {
        background-color: red;
    }*/


